<!-- Top Section -->
<div class="footer-top">
  <!-- Brand -->
  <div class="footer-brand">
    <span [outerHTML]="companyLogoIcon"></span>
    <p>Yorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="social-links">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <span [outerHTML]="fbCompanyLogoIcon"></span>
      </a>

      <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"
        ><span [outerHTML]="lnCompanyLogoIcon"></span
      ></a>

      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"
        ><span [outerHTML]="xCompanyLogoIcon"></span
      ></a>
    </div>
  </div>

  <!-- Dynamic Footer Links -->
  <div class="footer-links">
    @for(col of footerColumns; track $index; let idx = $index) {
    <div class="column">
      <span class="column-title">{{ col.title }}</span>
      <ul>
        @for(link of col.links; track $index) {
        <li>
          <a [href]="link.url">{{ link.title }}</a>
        </li>
        }
      </ul>
    </div>
    }
  </div>
</div>

<!-- Bottom Footer -->
<div class="footer-bottom">
  <div class="newsletter">
    <p>Toorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <form (ngSubmit)="submitEmail()">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />
      <button type="submit"><span>Submit</span></button>
    </form>
  </div>

  <div class="legal">
    <div class="legal-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
    </div>
    <span>Copyright © 2025 Gorem ipsum dolor sit amet elit.</span>
  </div>
</div>
