<div class="wrap">
  <div class="controls">
    <input
      class="search"
      type="text"
      placeholder="Search"
      #q
      (keyup.enter)="submitSearch(q.value)"
    />
  </div>

  @if (loading()) {
  <div class="grid">
    @for (i of rangeHelper(postsPerPage); track i) {
    <div class="card skeleton">
      <div class="thumb"></div>
      <div class="lines">
        <span class="line"></span>
        <span class="line short"></span>
      </div>
    </div>
    }
  </div>
  } @else { @if (error()) {
  <div class="error">
    <span>{{ error() }}</span>
  </div>
  } @else {
  <div class="grid">
    @for (post of posts(); track $index) {

    <!-- imitation of click on page with id 1 -->
    <app-page-card [card]="post" [routerLink]="`1`"></app-page-card>
    <!-- <app-page-card [card]="card" [routerLink]="`dynamic/${card.id}`"></app-page-card> -->

    }
  </div>

  <div class="pager">
    <button
      class="btn"
      (click)="setPage(page() - 1)"
      [disabled]="page() === 1"
      [innerHTML]="leftArrow"
    ></button>
    <span class="pageinfo"
      ><span>{{ page() }}</span
      ><span>/</span><span>{{ totalPages() }}</span></span
    >
    <button
      class="btn"
      (click)="setPage(page() + 1)"
      [disabled]="page() === totalPages()"
      [innerHTML]="rightArrow"
    ></button>
  </div>
  } }
</div>
