:host {
  padding: 3.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-items: stretch;

  .page-cards-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;

    .page-cards-title {
      font-size: 2rem;
      font-weight: 600;
      color: var(--blackColor);
      line-height: 110%; /* 2.2rem */
    }

    .page-cards-header {
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      line-height: 100%; /* 4rem */
      color: var(--blackColor);
    }

    .highlight {
      color: var(--mainColor);
    }

    .product-block-desc {
      text-align: center;
    }
  }

  .page-card-content {
    display: flex;
    gap: 2rem;

    justify-content: flex-start;
    overflow-x: scroll;

    app-page-card {
      white-space: nowrap;
    }
  }
}

//mobile view
@media (width <= 480px) {
  :host {
    overflow: clip;
    padding: 3.75rem 2.5rem;

    .page-cards-headers {
      .page-cards-title {
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 100%; /* 1.375rem */
      }

      .page-cards-header {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 85%; /* 1.9125rem */
      }
    }

    .page-card-content {
      margin-right: -2rem;
    }
  }
}
