<div class="logo" (click)="navigateToHome()" [innerHTML]="logoIcon"></div>

<div class="nav-links">
  @for(navLink of navLinks; track navLink.id; let idx = $index) {
  <a href="{{ navLink.url }}" class="nav-link">
    {{ navLink.label }}
    @if(navLink.hasDropdown) {
    <span class="arrow" [innerHTML]="dropdownIcon"></span>
    }
  </a>
  }
</div>
<div class="spacer" style="flex: 1"></div>

<div class="nav-actions">
  <a class="login">
    <span class="login-icon" [innerHTML]="userLogoIcon"> </span>
    Client Login
  </a>
  <button class="btn btn-primary"><span class="btn-text">Book A Discovery Call</span></button>
</div>
<div class="sidemenu-logo-button">
  <svg width="116" height="24" viewBox="0 0 116 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="32" height="4" transform="translate(84)" fill="#231F20" />
    <rect width="32" height="4" transform="translate(84 10)" fill="#231F20" />
    <rect width="32" height="4" transform="translate(84 20)" fill="#231F20" />
  </svg>
</div>
