<div class="logo" (click)="navigateToHome()" [innerHTML]="logoIcon"></div>

<div class="nav-links">
  @for(navLink of navLinks; track navLink.id; let idx = $index) {
  <a href="{{ navLink.url }}" class="nav-link">
    {{ navLink.label }}
    @if(navLink.hasDropdown) {
    <span class="arrow" [innerHTML]="dropdownIcon"></span>
    }
  </a>
  }
</div>
<div class="spacer" style="flex: 1"></div>

<div class="nav-actions">
  <a class="login">
    <span class="login-icon" [innerHTML]="userLogoIcon"> </span>
    Client Login
  </a>
  <button class="btn btn-primary"><span class="btn-text">Book A Discovery Call</span></button>
</div>
<div class="sidemenu-logo-button" [innerHTML]="sideMenuIcon"></div>
