<div class="product-block-headers">
  <div class="product-block-title">Explore Our Product Suite</div>

  <div class="divider-line"></div>
  <div class="product-block-header">
    Jorem ipsum dolor sit <span class="highlight">amet consectetur</span>
  </div>
  <div class="product-block-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
</div>
<!-- Tabs -->
<div class="tabs">
  @for (tab of productTabs; track $index; let i = $index) {
  <button class="tab" [class.active]="i === activeTabIndex" (click)="setActiveTab(i)">
    {{ tab.title }}
  </button>
  }
</div>

<!-- Content -->
@if (productTabs[activeTabIndex]; as active) {
<div class="product-card">
  <div class="product-image">
    <img [src]="active.content.image" [alt]="active.content.heading" />
  </div>
  <div class="product-info">
    <div class="product-info-header">{{ active.content.heading }}</div>
    <div class="product-info-desc">{{ active.content.description }}</div>

    <div class="bullets-list">
      @for (bullet of active.content.bullets; track $index; let j = $index) {
      <div class="bullet">{{ bullet }}</div>
      }
    </div>

    <div class="card-actions">
      <button class="btn btn-primary">{{ active.content.ctaPrimary }}</button>
      @if(active.content.ctaSecondary) {
      <a href="#"
        >{{ active.content.ctaSecondary }}
        <span [outerHTML]="arrowToRightLogo"></span>
      </a>
      }
    </div>
  </div>
</div>
}
