@font-face {
  font-family: Fustat;
  src: url(../public/fonts/Fustat-VariableFont_wght.ttf) format('truetype');
}

body {
  font-family: 'Fustat';
  margin: 0px;
}

button {
  font-family: Fustat;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

// Hide Scrollbar On Mobile
@media (width <= 480px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

.divider-line {
  width: 13.75rem;
  height: 6px;
  background: var(--mainColor);
  border-radius: 2px;
}

//mobile view
@media (width <= 480px) {
  .divider-line {
    height: 4px;
  }
}
